 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 16px;
}

.user-list {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
  padding: 12px;
  margin: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
  color: black;
}

.search-bar:focus {
  border-color: #aeaeae;
  outline: none;
  box-shadow: 0 0 5px rgba(146, 146, 146, 0.5);
}

.accordion-item {
  width: 720px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
  height: 60px;
  position: relative;
}

.accordion-header img {
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.accordion-header span {
  flex-grow: 1;
}

.accordion-header span:last-child {
  font-size: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-content {
  width: 100%;
  padding: 15px;
  color: black;
  box-sizing: border-box;
}

.accordion-details {
  display: flex;
  justify-content: space-between;
}

.accordion-details div {
  margin-bottom: 10px;
  width: 30%;
}

.accordion-label {
  font-weight: bold;
  color: gray;
  display: block;
  margin-bottom: 5px;
}

.description {
  margin-top: 10px;
}

.edit-form input,
.edit-form select,
.edit-form textarea {
  width: 100%;
  min-width: 160px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.button-group button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  background-color: white;
}

.delete-button {
  background-color: #fff;
}

.edit-button svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #3495df;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.delete-button svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #e64c4c;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}



.delete-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: black; 
}

.delete-dialog p {
  margin-bottom: 20px;
  font-size: 16px;
  margin-left: 8px;
}


.delete-dialog button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.delete-dialog button:last-child {
  background-color: #f44336;
  color: white;
}

.delete-dialog .cancel-button {
  background-color: #f0f0f0;
  color: black;
}
